[Install]
WantedBy=multi-user.target

[Unit]
Description=Kevin, a Slack bot
Documentation=https://github.com/melvinredondotanis/kevin
After=network.target

[Service]
Type=simple
User=your_username
Group=your_username
EnvironmentFile=/home/your_username/.kevin/.env
WorkingDirectory=/home/your_username/.kevin/
ExecStart=/home/your_username/.kevin/env/bin/python /home/your_username/.kevin/main.py --serve-in-foreground
Restart=on-failure

[Install]
WantedBy=multi-user.target